
*{
    font-family: 'Jua', sans-serif;
    }



    
/* 제목 화면 */
    p#big_title{
        font-size:45px;
        padding-top: 40px;
        text-align: center;
        height: 100px;
        background-color: rgb(255, 216, 196);
        margin: 0px;
    }
    h2{
        padding: 35px;
        margin-top: 0px;
        font-style: italic;
        color: rgb(255, 158, 105);
        background-color:rgb(253, 233, 224);
    
    }

    img#cashier{
        width: 200px;
        height: 200px;
        position:absolute;
        right: 20px;

    
    }

/* 사진 ~ 재료묶은 부모 태그 */
div.parents{
    width: 100%;
    height: 470px;
    position: relative;
}

/* 수익~ 묶은 부모 태그 */

div.parents1{
    width: 100%;
    height: 380px;
    position: relative;
}


/* 사진 메뉴 화면 */
    p#menu{
    display: inline;
    font-size: 30px;
    position: absolute;
    /* top: 0px; */
    left: 58px;
    background-color: beige;
    }

    #blank_img{
        /* margin-left: 70px; */
        width: 340px;
        height: 340px;
        position: absolute;
        top: 80px;
        left: 50px;
        border: 4px solid rgb(102, 152, 69);
    }
    #img1{
        width: 340px;
        height: 340px;
    }

    
/* 레시피 화면 */
    p#Receipe{
        display: inline;
        font-size: 26px;
        background-color: beige;
        position: absolute;
        left:480px;


    }
    div#Receipe01{
        display: inline-block;
        width: 300px;
        height: 300px;
        position: absolute;
        left: 480px;
        top: 80px;

 
    }

    ul#Receipe02{
        font-size: 16px;
        padding: 20px;
        width: 300px;
        height: 300px;
        border: 4px solid brown;
        margin: 0;

    }
    p#sname{
        display: inline;
        background-color: rgb(255, 239, 156);
    }



/* 재료 화면 */
    p#ingredients{
        display: inline;
        font-size: 30px;
        position: absolute;

        right: 1200px;
        background-color: beige;
    }

    .ingredients img{
        
        height: 130px;
        width: 130px;
    }

    .ingredients{
        position:absolute;
        width: 1250px;
        right: 50px;
        top: 85px;
        padding: 20px;
        
        border: 4px solid pink;

    }


/* 수익 계산 화면 */

    p#cash{
        display: inline;
        font-size: 26px;
        background-color: beige;
        position:relative;
        top: 20px;
        left: 58px;
    }

    div.money{
        width: 700px;
        height: 50px;
        position: absolute;
        border: 4px solid brown;
        left: 58px;
        top: 70px;
        padding: 20px;
    
    }

    div.total{
        border: 4px solid orange;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
    }

    
    


    div#photoprice{
        padding: 5px;
        margin: 5px;
        display: inline;
        border: 2px solid black;
    }

    div#i1{
        padding: 5px;
        margin: 5px;
        display: inline;
        border: 2px solid black;
    }



    div#fure{
        padding: 5px;
        margin: 5px;
        display: inline;
        border: 2px solid black;
    }

    div#total{
        font-size: 26px;
        position: absolute;
        right: 340px;
        bottom: 80px;
        padding: 15px;
        display: inline;
        border: 4px solid blue;
    }
    div#total1{
        font-size: 26px;
        position: absolute;
        right: 100px;
        bottom: 80px;
        padding: 15px;
        display: inline;
        border: 4px solid blue;
    }
